{% extends 'main/base2.html' %}
{% block content %}
<figure class="text-center">
  <blockquote class="blockquote">
    <p><strong><u>Educational and thematic plan for an online English course “English Article Mastery”</u></strong></p>
  </blockquote>
</figure>
<ul class="list-unstyled">
  <li class="mb-3"><strong>Short description:</strong> This course is designed for Intermediate (B1) and higher English language
      learners seeking to improve their skills in understanding and analyzing English-language articles, develop critical
      thinking and confidence in working with textual information. The course uses authentic articles from a variety of
      sources covering a wide range of topics and offers practical exercises to consolidate the knowledge gained.</li>
  <li class="mb-3"><strong>The purpose of the course </strong>is to develop comprehensive skills in working with English-language articles, including
      understanding, analyzing, critical thinking, and using information to create your own texts.</li>
    <li class="mb-3"><strong>Course sections:</strong>
    <ul>
      <li>Foundations of Article Comprehension</li>
      <li>Critical Analysis & Contextual Understanding</li>
      <li>Applying Knowledge & Creative Expression</li>
    </ul>
    </li>
    <li class="mb-3"><strong>Duration: </strong>12 lessons (18 hours)</li>
    <li class="mb-3"><strong>Target Audience: </strong>learners with level B1 and above</li>
    <li class="mb-3"><strong>Evaluation:</strong>
    <ul>
      <li>Active participation in classes (30%)</li>
      <li>Weekly written assignments (analysis of articles, answers to questions) (40%)</li>
      <li>Final project (creation of your own article/blog in English) (30%)</li>
    </ul>
    <li class="mb-3"><strong>Forms of work:</strong></li>
        <div class="col-8">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <strong>Individual Activities</strong>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <li><strong>Home-Reading:</strong> Students independently read and analyze various articles</li>
                      <li><strong>Vocabulary Quizzes: </strong>  Regular quizzes to test understanding of key vocabulary words from the articles.</li>
                      <li><strong>Article Summaries: </strong> Students write concise summaries of articles to demonstrate comprehension of the main points.</li>
                      <li><strong>Critical Analysis Essays: </strong> Students analyze the article's arguments, biases, and evidence</li>
                      <li><strong>Reflection Journals: </strong>Students write regular reflections on their learning process and challenges. </li>
                      <li><strong>Vocabulary Journal/Log: </strong>Students maintain a personal vocabulary log with new words learned from the articles, along with definitions and example sentences.</li>
                      <li><strong>Annotating Articles:</strong>Students use online annotation tools (like Hypothesis) to highlight key passages and add comments directly to the article. </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <strong>Collaborative/Group Activities</strong>
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <li><strong>Online Discussions: </strong>Students participate in online discussion forums to share their thoughts and insights on the articles. </li>
                      <li><strong>Small Group Article Presentations:</strong>Students work in small groups to present summaries and analyses of the articles to the class. </li>
                      <li><strong>Peer Review:</strong>Students provide feedback on each other's summaries, essays, or other written assignments. </li>
                      <li><strong>Debates: </strong>Students engage in online debates about controversial topics raised in the articles. </li>
                      <li><strong>Collaborative Annotation: </strong>Students collaboratively annotate articles together using a tool like Hypothesis. </li>
                      <li><strong>Jigsaw Reading: </strong>Divide an article into sections and assign each section to a different student. Students become experts on their assigned sections and then teach the content to other group members. </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <strong>Interactive Activities</strong>
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <li><strong>Live Q&A Sessions: </strong>Live sessions where students can ask the instructor questions about the articles and course material.</li>
                      <li><strong>Online Polls and Quizzes: </strong>Quick online polls and quizzes to check understanding and encourage participation.</li>
                      <li><strong>Interactive Whiteboard Activities: </strong>Using online whiteboardtools (like Miro or Google Jamboard) for brainstorming, mind mapping, or collaborative problem-solving.</li>
                      <li><strong>Drag-and-Drop Activities: </strong>Matching vocabulary words to definitions or ordering events chronologically.</li>

                  </div>
                </div>
              </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                    <strong>Project-Based Learning</strong>
                  </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <li><strong>Create a Blog: </strong>Students create their own blog and write article reviews or opinion pieces on a regular basis.</li>
                        <li><strong>Produce a Podcast/Video:</strong>Students create a podcast or video discussing and analyzing an article.</li>
                        <li><strong>Infographic Creation: </strong>Students create an infographic to visualize key data and concepts from an article.</li>
                    </div>
                  </div>
              </div>
            </div>
        </div>

<div class="bd-example">
        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th style="text-align: center; vertical-align: middle" scope="col">Section 1</th>
            <th style="text-align: center; vertical-align: middle" scope="col" colspan="6">Foundations of Article Comprehension</th>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Lesson</th>
            <td>Date</td>
            <td>Topic/Material covered</td>
            <td>Objectives</td>
            <td>Activities/Forms of work</td>
            <td>Materials</td>
            <td>Hours</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>10.02.25</td>
            <td>Introduction to article navigation</td>
            <td>1) Understand the purpose of the course and its objectives.
<br>2)Learn basic strategies for approaching English articles.
<br>3)Become familiar with different types of articles.
</td>
            <td>Icebreaker activity, discussion about reading habits and challenges, introduction to different article types with examples, preview of course syllabus</td>
            <td>Course syllabus, example articles of different types (news, opinion, feature), reading strategy handout</td>
            <td>1h 30m</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>12.02.25</td>
            <td>Understanding Text Structure&Organisation.
Identifying Main Ideas&Supporting Details
</td>
            <td>1)Identify common text structures used in English articles (e.g., cause/effect, problem/solution, compare/contrast).
<br>2)Analyze how different text structures contribute to the overall meaning of an article.
<br>3)Learn to recognize transition words and phrases.
<br>4)Learn how to identify the main idea of a paragraph and an entire article.
<br>5)Distinguish between main ideas and supporting details.
<br>6)Practise summarizing information effectively.

</td>
            <td>Guided reading of an article highlighting different text structures and  main ideas, exercises on identifying text structures and paragraph summary exercises, group activity creating a visual representation of an article’s structure and group activity summarizing different sections of an article, discussion about effective summarization techniques.</td>
            <td>Article with different text structures and with clear main ideas, text structure identification worksheet, transition words and phrases list, graphic organizer template, summary writing guidelines.</td>
            <td>1h 30m</td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>14.02.25</td>
            <td>Vocabulary and Grammar Building</td>
            <td>1)Learn effective strategies for understanding unfamiliar vocabulary.
<br>2)Practise using context clues to infer meaning.
<br>3)Expand your vocabulary with common article-related terms.
<br>4)Review key grammar concepts that are crucial for understanding complex sentences.
<br>5)Identify and analyze different types of clauses and  phrases.
<br>6)Practise using grammar knowledge to improve reading and comprehension.

</td>
            <td>Vocabulary pre-test, guided reading of a short article with vocabulary focus, pair work using context clues, vocabulary review game.
Grammar review activity, sentence analysis exercises, guided reading of an article focusing on sentence structure, group discussion about grammar challenges.
</td>
            <td>Short article with vocabulary focus, vocabulary list, context clues handout, online dictionary skills.
Grammar review handout, article with sentence structure focus, sentence analysis worksheet, grammar exercises.
</td>
            <td>1h 30m</td>
          </tr>
          <tr>

          <tr>
            <th scope="row">4</th>
            <td>16.02.25</td>
            <td>Review & Practice: Foundation Skills</td>
            <td>11)Review all concepts covered in Section 1.
<br>2)Practise applying foundation skills to a variety of articles.
</td>
            <td>Review quiz, group activity analyzing a challenging article, individual reflection on learning progress.</td>
            <td>Review quiz, challenging article for analysis, self-assessment questionnaire, answer keys for quiz and exercises.</td>
            <td>1h 30m</td>
          </tr>

          <th style="text-align: center; vertical-align: middle" scope="col">Section 2</th>
          <th style="text-align: center; vertical-align: middle" scope="col" colspan="6">Critical Analysis & Contextual Understanding</th>

          <tr>
            <th scope="row">5</th>
            <td>17.02.25</td>
            <td>Identifying Author’s Purpose & Tone.
Analyzing Arguments & Evidence
</td>
            <td>1)Learn how to identify the author’s purpose in writing an article (e.g., to inform, perform, entertain) and the main arguments and supporting evidence in an article.
<br>2)Analyze the author’s tone and its impact on the reader.
<br>3)Understand how purpose and tone influence word choice and style.
<br>4)Evaluate the strength and credibility of the evidence presented.
<br>5)Recognize logical fallacies and biases in argumentation.
</td>
            <td>Guided reading of articles with different purposes and tones; argumentative articles, exercises on identifying purpose and tone, arguments and evidence; group discussion about how purpose and tone affect the reader’s interpretation and about logical fallacies and biases.</td>
            <td>Articles with different purposes and tones, purpose and tone identification worksheet, style analysis guide.
Argument analysis worksheet, logical fallacy identification guide, articles with strong and weak arguments, bias detection tips.
</td>
            <td>1h 30m</td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td>19.02.25</td>
            <td>Fact-Checking & Source Evaluation
</td>
            <td>1)Learn how to fact-check information presented in articles.
<br>2)Evaluate the credibility of sources and identify potential red flags.
<br>3)Understand the importance of using reliable sources for research.
</td>
            <td>Presentation on fact-checking techniques, practise exercises with articles containing misinformation, group activity evaluating the credibility of different sources, discussion about responsible research practices.</td>
            <td>Fact-checking resources list, source evaluation checklist, articles with misinformation, reliable and unreliable source examples.</td>
            <td>1h 30m</td>
          </tr>

          <tr>
            <th scope="row">7</th>
            <td>21.02.25</td>
            <td>Understanding Cultural, Historical Context
</td>
            <td>1)Recognize how cultural and historical contexts influence the interpretation of articles.
<br>2)Understand cultural and historical references and allusions.
<br>3)Analyze how different cultural and historical events shape understanding of global events and current events and perspectives.
</td>
            <td>Guided reading of articles related to different cultures and historical events, exercises on identifying cultural and historical references, group discussion about the impact of history on current events and about cultural perspectives on global events, research activity on specific cultural topics.</td>
            <td>Articles related to different cultures, historical and cultural reference, timeline template, global event analyzing worksheet, historical event analyzing worksheet.</td>
            <td>1h 30m</td>
          </tr>


          <tr>
            <th scope="row">8</th>
            <td>23.02.25</td>
            <td>Review & Practice: Critical Analysis Skills
</td>
            <td>1)Review all concepts covered in Section 2.
<br>2)Practice applying critical analysis skills to a variety of articles.
</td>
            <td>Rewiew quiz, group activity analyzing a challenging article critically, individual reflection on learning progress.</td>
            <td></td>
            <td>1h 30m</td>
          </tr>

          <th style="text-align: center; vertical-align: middle" scope="col">Section 3</th>
          <th style="text-align: center; vertical-align: middle" scope="col" colspan="6">Applying Knowledge & Creative Expression</th>


          <tr>
            <th scope="row">9</th>
            <td>24.02.25</td>
            <td>Summarizing & Paraphrasing
</td>
            <td>1)Learn the difference between summarizing and paraphrasing.
<br>2)Practise summarizing and paraphrasing articles effectively.
<br>3)Understand the ethical considerations of summarizing and paraphrasing.
              </td>
            <td>Guided practice summarizing and paraphrasing different articles, exercises on distinguishing between summaries and paraphrases, discussion about plagiarism and ethical writing practices.</td>
            <td>Articles for summarizing and paraphrasing, summary and paraphrase templates, plagiarism detection tips, ethical writing guidelines.</td>
            <td>1h 30m</td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td>26.02.25</td>
            <td>Writing Opinion Pieces & Editorials.
Developing Research Skills for Writing

</td>
            <td>1)Learn the characteristics of effective opinion pieces and editorials.
<br>2)Practice writing engaging and persuasive opinion pieces on current issues.
<br>3)Learn how to conduct effective research for your writing projects.
<br>4)Practice using online databases and academic resources.
</td>
            <td>Analysis of successful opinion pieces, writing workshop on editorial techniques, peer review activity, revision and editing exercises, opportunity for publication (e.g., school newspaper, online platform).
Workshop on research techniques, practice exercises using online databases, discussion about research strategies and resources.
</td>
            <td>Opinion piece samples, editorial writing guidelines, peer review checklist, editing guidelines, publication resources.
Research skills handout, online database access, peer feedback checklist, research strategy examples.
</td>
            <td>1h 30m</td>
          </tr>

           <tr>
            <th scope="row">11</th>
            <td>28.02.25</td>
            <td>Writing Article Review & Critiques

</td>
            <td>1)Learn the structure and components of an effective article review.
<br>2)Practice writing concise and insightful article reviews.
</td>
            <td>Guided analysis of sample article reviews, writing workshop on article review techniques, peer review activity, revision and editing exercises.</td>
            <td>Sample article review, article review template, peer review check list, editing guidelines.</td>
            <td>1h 30m</td>
          </tr>

           <tr>
            <th scope="row">12</th>
            <td>02.03.25</td>
            <td>Final Project: Article-Inspired Writing

</td>
            <td>1)Apply all the skills and knowledge acquired throughout the course to create a final writing project (e.g., article, essay).
<br>2)Present your final project to the class.
</td>
            <td>Project proposal development, individual writing time, peer feedback sessions, project presentation day, final project reflection.</td>
            <td>Project proposal template, peer feedback guidelines, presentation checklist, reflection prompts.</td>
            <td>2h</td>
          </tr>



          </tbody>
        </table>
</div>



        <li class="mb-3 mt-3"><strong>Course training material:</strong> Authentic articles from: The New York Times, The Guardian, BBC, Scientific American, Harvard Business Review, etc., online dictionaries, grammar reference books, interactive platforms (Quizlet, Padlet)
            <ul>
                <li>The New York Times: <a href="https://www.nytimes.com/">https://www.nytimes.com/</a></li>
              <li>The Guardian: <a href="https://www.theguardian.com/"> https://www.theguardian.com/</a></li>
              <li>BBC News: <a href="https://www.bbc.com/news"> https://www.bbc.com/news</a></li>
              <li>CNN: <a href="https://edition.cnn.com/"> https://edition.cnn.com/</a></li>
              <li>Reuters: <a href="https://www.reuters.com/"> https://www.reuters.com/</a></li>
              <li>Associated Press (AP): <a href="https://apnews.com/"> https://apnews.com/</a></li>
              <li>The Independent: <a href="https://www.independent.co.uk/"> https://www.independent.co.uk/</a></li>
              <li>Variety: <a href="https://variety.com/"> https://variety.com/</a></li>
            </ul>
          </li>
</ul>
<p>  </p>
{% endblock %}