{% extends 'main/base2.html' %}
{% block content %}
<figure class="text-center">
  <blockquote class="blockquote">
    <p><strong><u>Educational and thematic plan for an online English course “English Article Mastery”</u></strong></p>
  </blockquote>
</figure>
<ul class="list-unstyled">
  <li class="mb-3"><strong>Short description:</strong> This course is designed for Intermediate (B1) and higher English language
      learners seeking to improve their skills in understanding and analyzing English-language articles, develop critical
      thinking and confidence in working with textual information. The course uses authentic articles from a variety of
      sources covering a wide range of topics and offers practical exercises to consolidate the knowledge gained.</li>
  <li class="mb-3"><strong>The purpose of the course </strong>is to develop comprehensive skills in working with English-language articles, including
      understanding, analyzing, critical thinking, and using information to create your own texts.</li>
    <li class="mb-3"><strong>Course sections:</strong>
    <ul>
      <li>Foundations of Article Comprehension</li>
      <li>Critical Analysis & Contextual Understanding</li>
      <li>Applying Knowledge & Creative Expression</li>
    </ul>
    </li>
    <li class="mb-3"><strong>Duration: </strong>12 lessons (18 hours)</li>
    <li class="mb-3"><strong>Target Audience: </strong>learners with level B1 and above</li>
    <li class="mb-3"><strong>Evaluation:</strong>
    <ul>
      <li>Active participation in classes (30%)</li>
      <li>Weekly written assignments (analysis of articles, answers to questions) (40%)</li>
      <li>Final project (creation of your own article/blog in English) (30%)</li>
    </ul>
    <li class="mb-3"><strong>Forms of work:</strong></li>
        <div class="col-8">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <strong>Individual Activities</strong>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <li><strong>Home-Reading:</strong> Students independently read and analyze various articles</li>
                      <li><strong>Vocabulary Quizzes: </strong>  Regular quizzes to test understanding of key vocabulary words from the articles.</li>
                      <li><strong>Article Summaries: </strong> Students write concise summaries of articles to demonstrate comprehension of the main points.</li>
                      <li><strong>Critical Analysis Essays: </strong> Students analyze the article's arguments, biases, and evidence</li>
                      <li><strong>Reflection Journals: </strong>Students write regular reflections on their learning process and challenges. </li>
                      <li><strong>Vocabulary Journal/Log: </strong>Students maintain a personal vocabulary log with new words learned from the articles, along with definitions and example sentences.</li>
                      <li><strong>Annotating Articles:</strong>Students use online annotation tools (like Hypothesis) to highlight key passages and add comments directly to the article. </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <strong>Collaborative/Group Activities</strong>
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <li><strong>Online Discussions: </strong>Students participate in online discussion forums to share their thoughts and insights on the articles. </li>
                      <li><strong>Small Group Article Presentations:</strong>Students work in small groups to present summaries and analyses of the articles to the class. </li>
                      <li><strong>Peer Review:</strong>Students provide feedback on each other's summaries, essays, or other written assignments. </li>
                      <li><strong>Debates: </strong>Students engage in online debates about controversial topics raised in the articles. </li>
                      <li><strong>Collaborative Annotation: </strong>Students collaboratively annotate articles together using a tool like Hypothesis. </li>
                      <li><strong>Jigsaw Reading: </strong>Divide an article into sections and assign each section to a different student. Students become experts on their assigned sections and then teach the content to other group members. </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <strong>Interactive Activities</strong>
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <li><strong>Live Q&A Sessions: </strong>Live sessions where students can ask the instructor questions about the articles and course material.</li>
                      <li><strong>Online Polls and Quizzes: </strong>Quick online polls and quizzes to check understanding and encourage participation.</li>
                      <li><strong>Interactive Whiteboard Activities: </strong>Using online whiteboardtools (like Miro or Google Jamboard) for brainstorming, mind mapping, or collaborative problem-solving.</li>
                      <li><strong>Drag-and-Drop Activities: </strong>Matching vocabulary words to definitions or ordering events chronologically.</li>

                  </div>
                </div>
              </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                    <strong>Project-Based Learning</strong>
                  </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <li><strong>Create a Blog: </strong>Students create their own blog and write article reviews or opinion pieces on a regular basis.</li>
                        <li><strong>Produce a Podcast/Video:</strong>Students create a podcast or video discussing and analyzing an article.</li>
                        <li><strong>Infographic Creation: </strong>Students create an infographic to visualize key data and concepts from an article.</li>
                    </div>
                  </div>
              </div>
            </div>
        </div>

        <li class="mb-3 mt-3"><strong>Course training material:</strong> Authentic articles from: The New York Times, The Guardian, BBC, Scientific American, Harvard Business Review, etc., online dictionaries, grammar reference books, interactive platforms (Quizlet, Padlet)
            <ul>
                <li>The New York Times: <a href="https://www.nytimes.com/">https://www.nytimes.com/</a></li>
              <li>The Guardian: <a href="https://www.theguardian.com/"> https://www.theguardian.com/</a></li>
              <li>BBC News: <a href="https://www.bbc.com/news"> https://www.bbc.com/news</a></li>
              <li>CNN: <a href="https://edition.cnn.com/"> https://edition.cnn.com/</a></li>
              <li>Reuters: <a href="https://www.reuters.com/"> https://www.reuters.com/</a></li>
              <li>Associated Press (AP): <a href="https://apnews.com/"> https://apnews.com/</a></li>
              <li>The Independent: <a href="https://www.independent.co.uk/"> https://www.independent.co.uk/</a></li>
              <li>Variety: <a href="https://variety.com/"> https://variety.com/</a></li>
            </ul>
          </li>
</ul>
{% endblock %}