{% extends 'main/base2.html' %}
{% block content %}
<p> </p>
<p style="text-align: center;"><strong><mark>Exercise 1.</mark></strong></p>
<p>
    <strong>Task: </strong>Identify the author’s purpose in writing an article (e.g., to inform, perform, entertain) and the main arguments and supporting evidence in an article. Analyze the author’s tone and its impact on the reader. Evaluate the credibility of sources and identify potential red flags. Analyze how cultural and historical contexts influence the interpretation of articles.
(This exercise is a training exercise. Students analyze various articles according to criteria, draw conclusions and make comparisons. The recommended form of work for this exercise is discussion.)

</p>
<p style="text-align: center;">
  	<img src="static/exer2_1.jpg" width="850" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer2_2.jpg" width="850" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer2_3.png" width="850" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer2_4.png" width="850" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer2_5.png" width="850" height="900">
</p>
<p> </p>


{% endblock %}