{% extends 'main/base2.html' %}
{% block content %}
<p> </p>
<p style="text-align: center;"><strong><mark>Exercise 1.</mark></strong></p>
<p>
Task: Render the article. Follow the plan. You have 20 minutes to prepare this task.
(Before the students start rendering, the teacher gives them a plan and explains it.
    Then the students prepare for the answers and present their renderings to the class.
    This exercise is conditionally communicative, the recommended form of work is individual.)
</p>

<div class="bd-example">
        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th scope="col">The plan for rendering the text</th>
            <th scope="col">Some expressions to be used while rendering the text</th>
          </tr>
          </thead>
          <tbody>
          <tr>

            <td style="text-align: center; vertical-align: middle"><em>1. The title of the article.</em></td>
            <td><p><em>The article is headlined ...</em></p>
                <p><em>The headlined of the article I have read is ...</em></p>
            </td>

          </tr>
          <tr>
            <td style="text-align: center; vertical-align: middle"><em>2. The author of the article,
            where and when the article was published.</em></td>
            <td><p><em>The author of the article is ...</em></p>
                <p><em>The article is written by ...</em></p>
                <p><em>It is (was) published in ...</em></p>
                <p><em>It is (was) printed in ...</em></p>
            </td>

          </tr>
          <tr>
            <td style="text-align: center; vertical-align: middle"><em>3. The main idea of the article</em></td>
            <td><p><em>The main idea of the article is ...</em></p>
                <p><em>The article is about ...</em></p>
                <p><em>The article is devoted to ...</em></p>
                <p><em>The article deals with ...</em></p>
                <p><em>The article touches upon ...</em></p>
                <p><em>The purpose of the article is to give the reader some information on ...</em></p>
                <p><em>The aim of the article is to provide the reader with some material (data) on ...</em></p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; vertical-align: middle"><p><em>4. The contents of the article.</em></p>
                                            <p><em>Some facts, names, figures. </em></p>
            </td>
            <td>
                <p><em>a) The author starts by telling the reader that ...</em></p>
                <em>b) The author writes (states, stresses, thinks, points out) that ...</em>
                <p><em>  The article describes ... </em></p>
                <em>c) According to the text ...</em>
                <p><em> Further the author reports (says) ...
                    <br> The article goes on to say that ...</em></p>
                <em>d) In conclusion ... <br>  The author comes to the conclusion that ...</em>
            </td>
          </tr>
          <tr>
           <td style="text-align: center; vertical-align: middle"><em>5. Your opinion of the article</em></td>
            <td><em>I found the article interesting (important, dull, of no value, too hard to understand ...)</em></td>
          </tr>
          </tbody>
        </table>
        </div>

<p style="text-align: center;">
  	<img src="static/exer3_1.png" width="850" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer3_2.png" width="900" height="750">
</p>
<p style="text-align: center;">
  	<img src="static/exer3_3.png" width="850" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer3_4.png" width="850" height="900">
</p>

<p> </p>
<p style="text-align: center;"><strong><mark>Exercise 2.</mark></strong></p>
<p>
Task: Write an article on any of the selected topics. Come up with the title yourself. Don't forget to follow the correct
    structure, the components of the article, and the language. Determine for yourself what idea / message your article
    will carry. You can write an article about fashion, sports, travel, art, nature, or on your own topic. The minimum
    number of words is 250.
</p>
<p>(This assignment is the final one in this course and at the same time the most difficult one. Thanks to this assignment,
    the teacher will be able to test all the knowledge that the student has learned during this course. Writing an article
    will also allow students to assess the level of grammar and vocabulary, the ability to express thoughts in a foreign
    language.)</p>
<p> </p>

{% endblock %}3