{% extends 'main/base2.html' %}
{% block content %}
<p> </p>
<p>In section 1, students are introduced to basic knowledge about articles. All the material is presented in the
    presentation below. Thanks to this information, students will understand how articles look like, what they are, etc.
    The teacher demonstrates and shows this presentation, then answers students' questions
</p>
<p style="text-align: center;"><strong>Introductory information</strong></p>
<p style="text-align: center;">
  	<img src="static/exer1.png" width="531" height="300">
</p>
<p>After reviewing the information, students are asked to complete the exercises. Exercise 1 aims to test students'
    understanding of the collocations found in the articles. This is a learning exercise. Exercise 2 is a wildcard
    exercise, it is aimed at developing and consolidating lexical material. Exercise 3 is aimed at developing the ability
    to understand the difference between quality and popular papers. Exercise 4 is a conditional speech exercise, where
    the main focus is on the ability to use active vocabulary in sentences. In addition to consolidating the lexical
    material being studied, this exercise helps to recall and consolidate previously learned vocabulary, as well as
    practice grammatical skills. In the course of this work, the student who answers develops the skill of formulating
    thoughts and answers in English.
</p>
<p style="text-align: center;"><strong><mark>Exercise 1.</mark></strong></p>
<p>
    Task: You see several articles from different magazines. Let’s read them attentively and then discuss: main ideas, text structures (especially the headline features), problems and solutions.
(The main idea of this task is to teach students how to work with different types of articles, explain the plan and the order of article analysis. Students develop the ability to analyze, systematize and generalize the studied phenomena and facts.
Forms of work: online discussions)
</p>
<p style="text-align: center;">
  	<img src="static/exer1_1.jpg" width="800" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer1_2.jpg">
</p>
<p style="text-align: center;">
  	<img src="static/exer1_3.jpg" width="800" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer1_4.jpg" width="800" height="900">
</p>

<p style="text-align: center;"><strong><mark>Exercise 2.</mark></strong></p>
<p>
    Task: Divide into small groups. Each group gets an article and should work with it. You have 10-15 minutes to read and discuss the article, analyze from the point of view of grammar and vocabulary. Please note which grammatical constructions are most often found in articles? What interesting lexical constructions have you come across?
(The main idea of this task is to review key grammar concepts that are crucial for understanding complex sentences, Expand your vocabulary with common article-related terms.
Forms of work: small group article presentations)

</p>
<p style="text-align: center;">
  	<img src="static/exer1_2_1.jpg" width="800" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer1_2_2.jpg" width="800" height="900">
</p>
<p style="text-align: center;">
  	<img src="static/exer1_2_3.jpg" width="800" height="900">
</p>


{% endblock %}