{% extends 'main/base2.html' %}
{% block content %}

<div class="bd-example">
        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Обращение123456789qwertyu</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><p>Guided reading of an article highlighting different text structures and  main ideas, exercises on identifying text structures and paragraph summary exercises, group activity creating a visual representation of an article’s structure and group activity summarizing different sections of an article, discussion about effective summarization techniques</p></td>
            <td>Article with different text structures and with clear main ideas, text structure identification worksheet, transition words and phrases list, graphic organizer template, summary writing guidelines.</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        </div>
{% endblock %}