{% extends 'main/base2.html' %}
{% block content %}
<figure class="text-center">
  <blockquote class="blockquote">
    <p><strong><u>Information about the author of the online course</u></strong></p>
  </blockquote>
</figure>
<div class="col-3">
    <img src="static/author.jpg" class="rounded float-start" width="320" height="401" >
</div>
    <div class="col-10">
        <div class="card">
          <div class="card-body">
            <p class="card-text"><strong>Name: </strong>Daria</p>
            <p class="card-text"><strong>Surname: </strong>Pilkova</p>
            <p class="card-text"><strong>Date of birth: </strong>10 June 2002</p>
            <p class="card-text"><strong>Faculty/institute, field of study (specialty):</strong> Institute of Linguistics and  World Languages.</p>
            <p class="card-text"><strong>Direction: </strong>Teacher Education with two training profiles: Foreign Languages (English and French)</p>
            <p class="card-text"><strong>Year of study: </strong>5</p>
            <p class="card-text"><strong>University: </strong>KSU (Kaluga State University named after Tsiolkovsky)</p>
            <p class="card-text"><strong>Contact information: </strong>Kaluga, Russia</p>
            <p class="card-text"><strong>E-mail: </strong>pilkova.d@yandex.ru</p>
          </div>
        </div>
    </div>
<ul class="list-unstyled col-10">
    <li>  I take an active part in the academic and extracurricular activities of the university.
      Throughout my studies, I pay great attention to self-development, replenishing my knowledge base in various fields,
      which will later allow me to be a true professional in my field, namely, a good teacher. I was trained at the school
      of personal effectiveness of volunteers "Vector" on the basis of KSU named after K.E. Tsiolkovsky, has successfully
      mastered the online course "Effective communications" on the portal "University.goodness.Russian Federation" and an
      online course on the basics of law from the Higher School of Economics, in the framework of a foreign language in
      2021, I participated in a conference of partner cities in Russia and Germany, which gave me extensive experience
      in practising language knowledge and communicating with native speakers. In 2023, I completed training and
      successfully passed the test, as a result of which I was included in the federal database of the Corps of Public
      Observers of the Russian Youth Union and qualified as a public observer to monitor the state final attestation on
      educational programs of basic general and secondary general education in 2023. Every year I attend meetings and
      lectures by well-known teachers, methodologists and speakers, for example, the Popular Science interactive lecture
      "Pedagogical design in modern language education" (lecturer - Natalia Aleksandrovna Nikityuk, senior methodologist
      at the GeekBrains IT company), a meeting with the French researcher of the history of the Normandy-Neman regiment
      Olivier Buhr-a lot, a meeting with translator and English teacher Irina Ivanovna Svyatogor, a linguistic quiz
      "Connaissez-vous la France?" and others.</li>
    <li>  Since the 4th year of study, I have been actively engaged in scientific activities, began to write
        scientific papers on pedagogy and methods of teaching foreign languages and to speak with them at competitions
        of various levels. Within the framework of foreign languages, I take part in national and international
        competitions of scientific research, design and creative works of students, translation competitions, scientific
        and student conferences, Olympiads on pedagogy and teaching methods of foreign languages, scientific quizzes,
        video courses in a foreign language, as well as theatrical productions in English and French languages where I
        take winning and prize-winning places.</li>
    <li>  Since September 2024, I have been appointed Deputy Chairman of the National Academy of Sciences and now
        I try to fulfill my duties in the work of the National Academy of Sciences in good faith, participate in various
        events and introduce students of my institute to scientific activities. In October 2024, I completed my studies
        at the International School of Higher Education at Lomonosov Moscow State University.</li>
    <li>  I am a professional not only in the field of foreign languages, but also in the field of economics. At
        the same time, I have been receiving my second higher education since 2021 at the RANEPA, training area: 05/38.01.
        Economic security, Specialization: ensuring the economic security of organizations. At the moment, I am a 4th-year
        student at RANEPA.</li>
    <li>  Since the end of 2020, I have been an English language tutor. I have many personal achievements with my
        students. They speak the language at a good level, show good results in school lessons and at the exams. I love
        working with children and passing on my knowledge.</li>
    <li>  Personal qualities: responsible, purposeful, highly organized, sociable, proactive, ability to work in a
        team, focus on results.</li>
    <li>  </li>
    <li>  </li>
    <li>  </li>


</ul>
{% endblock %}