{% extends 'main/base2.html' %}
{% block content %}
<figure class="text-center">
  <blockquote class="blockquote">
    <p><strong><u>Used resources:</u></strong></p>
  </blockquote>
</figure>

<ul>
      <li>1.	Барышников, Н. В. Обучение иностранным языками культурам: методология, цель, метод / Н. В. Барышников // Иностранные языки в школе. – 2014. – № 9. – С. 2–9.</li>
      <li>2.	Все журналы : сайт. – Обновляется в течение суток. – URL: Все Журналы - читать онлайн или скачать новые номера за 2025 год бесплатно и без регистрации (дата обращения: 17.02.2025)</li>
      <li>3.	Карташова, В. Н. Работа с аутентичными текстами социокультурной направленности / В. Н. Карташова, Е. А. Исаев // Иностранные языки в школе. – 2011 –  № 9. –  С. 32 – 36.</li>
      <li>4.	Королькова, В. А. Учитесь читать газеты. Пособие по общественно-политической лексике на английском языке : учебное пособие / В. А. Королькова, А. П. Лебедева, Л. М. Сизова.- 2-е изд., перераб. и доп. - Москва : Высш. шк., 1989. – 176 с.</li>
      <li>5.	Мгеладзе, Д. А. Использование газетных статей на занятиях по разговорной практике // Обучение иностранным языкам в школе и вузе / отв. ред. М. К. Колкова. - СПб.: Каро, 2001. – С. 214–233.</li>
      <li>6.	Методика обучения иностранным языкам : традиции и современность / под ред. А. А. Миролюбова. – Обнинск : Титул, 2012. – 464 с. </li>
      <li>7.	Основы методики обучения иностранным языкам : учебное пособие / Н. Д. Гальскова, А. П. Василевич, Н. Ф. Коряковцева, Н. В. Акимова. – Москва : КНОРУС, 2017. – 390 с.</li>
      <li>8.	Рябкова, В. В. Работа с текстом на уроках английского языка / В.В. Рябкова //Иностранные языки в школе. – 2017 – № 5 – С. 26-29. </li>
      <li>9.	Скалин, В. Л. Коммуникативные упражнения на английском языке : пособие для учителя / В. Л. Скалин. – М. : Просвещение, 1983. – 128 с.</li>
      <li>10.	Associated Press (AP): сайт. – The US, 2025. – Обновляется в течение суток. – URL:  https://apnews.com/ (дата обращения: 16.02.2025)</li>
      <li>11.	BBC News : сайт. – The UK, 2025. – Обновляется в течение суток. – URL: https://www.bbc.com/news (дата обращения: 16.02.2025)</li>
      <li>12.	CNN : сайт. – The US, 2025. – Обновляется в течение суток. – URL: https://edition.cnn.com/ (дата обращения: 16.02.2025)</li>
      <li>13.	Condé Nast Traveller : сайт. – Britain, 2025. – Обновляется в течение суток. – URL: CN Traveller - The website of Condé Nast Traveller Magazine | CN Traveller (дата обращения: 16.02.2025)</li>
      <li>14.	Reuters : сайт. – The UK, 2025. – Обновляется в течение суток. – URL: https://www.reuters.com/ (дата обращения: 16.02.2025)</li>
      <li>15.	The Guardian : сайт. – The UK, 2025. – Обновляется в течение суток. – URL: https://www.theguardian.com/ (дата обращения: 16.02.2025)</li>
      <li>16.	The Independent : сайт. – The UK, 2025. – Обновляется в течение суток. – URL: https://www.independent.co.uk/ (дата обращения: 16.02.2025)</li>
      <li>17.	The New York Times : сайт. – The US, 2025. – Обновляется в течение суток. – URL: https://www.nytimes.com/ (дата обращения: 16.02.2025)</li>
      <li>18.	Variety : сайт. – The US, 2025. – Обновляется в течение суток. – URL: https://variety.com/ (дата обращения: 16.02.2025)</li>


</ul>

{% endblock %}